<%# SEARCH %>
<div class="container py-3">
  <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :city,params[:city],class: "d-none"%>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Brand.. Ex: Seat"
      %>
      <button type="submit" class="btn btn-flat">
          <i class="fas fa-search text-dark"></i><span class="text-dark">Search</span>
      </button>
    </div>
  <% end %>

  <%# CARD LISTE %>
  <div class="row justify-content-md-center">
    <% @cars.each do |car| %>
      <div class="col-3 m-3 bg-white rounded p-3 shadow">
        <div class="img-container">
          <img src="<%= [
            'https://images.caradisiac.com/logos/1/1/0/6/191106/S7-maxi-fiche-fiabilite-que-vaut-la-seat-ibiza-5-en-occasion-108185.jpg',
            'https://cdn-s-www.ledauphine.com/images/3941B2AB-35A8-403F-9AE0-2B79E7B9314A/NW_raw/des-jupes-laterales-specifiques-en-carbone-ont-ete-integrees-sur-l-alpine-a110-r-pour-etendre-le-plancher-plat-vers-l-exterieur-grace-a-cette-surface-prolongee-l-air-devient-moins-turbulent-tout-le-long-de-la-voiture-en-limitant-les-perturbations-dans-le-soubassement-1674482616.jpg',
            'https://www.largus.fr/images/images/205-gti-avd.jpg'
          ][car.price_per_day.to_i%3]%>"
          class="rounded-top img-fluid justify-content-center" width=300>
          <div class="badge">
            <%= car.price_per_day %>€/day
          </div>
        </div>
        <%= link_to car_path(car), class:"text-decoration-none" do %>
          <div class="card-title">
            <p class="brand"><%= car.brand %></p>
            <p class="model"><%= car.model %></p>
          </div>
          <div class="info">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cake"><path d="M20 21v-8a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8"/><path d="M4 16s.5-1 2-1 2.5 2 4 2 2.5-2 4-2 2.5 2 4 2 2-1 2-1"/><path d="M2 21h20"/><path d="M7 8v3"/><path d="M12 8v3"/><path d="M17 8v3"/><path d="M7 4h0.01"/><path d="M12 4h0.01"/><path d="M17 4h0.01"/></svg>
            <p><%= car.year_of_production %></p>
          </div>
          <div class="info">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned"><path d="M18 8c0 4.5-6 9-6 9s-6-4.5-6-9a6 6 0 0 1 12 0"/><circle cx="12" cy="8" r="2"/><path d="M8.835 14H5a1 1 0 0 0-.9.7l-2 6c-.1.1-.1.2-.1.3 0 .6.4 1 1 1h18c.6 0 1-.4 1-1 0-.1 0-.2-.1-.3l-2-6a1 1 0 0 0-.9-.7h-3.835"/></svg>
            <p><%= car.address %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
