
<div class="container py-3">
  <%= link_to "Retour à la liste des voitures", cars_path, class: "btn btn-primary" %>


  <div class="row justify-content-md-center">
    <div class="col-4 m-3 bg-white rounded p-3 shadow">
      <h2><%= @car.brand %> <%= @car.model %></h2>
      <p><strong>Année de production:</strong> <%= @car.year_of_production %></p>
      <p><strong>Adresse:</strong> <%= @car.address %></p>
      <p><strong>Prix par jour:</strong> <%= @car.price_per_day %>€</p>
    </div>
  </div>

</div>
